# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Frontend
frontend/node_modules/
frontend/dist/

# Project Temp & Output Data
temp/
output/
input/
database/*.db
database/*.db-journal
database/*.db-wal
database/*.db-shm
scratch/
test_*.mp3
*.log

# Sensitive Keys (Keep template only)
.env

# Binary Tools (Tự động trích xuất từ imageio-ffmpeg)
tools/*.exe
tools/**/*.exe

# Admin/Developer Server Push Scripts (Tuyệt đối không upload cho máy khách)
*DAY_CODE*.bat
*PUSH*.bat
4_DAY_CODE_LEN_GITHUB.bat



# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
